on:
    workflow_call:
        inputs:
            isBackend:
                required: true
                type: boolean

jobs:
    backend:
        if: ${{ inputs.isBackend }}
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./backend
        steps:
            - name: Setup Node
              uses: actions/setup-node@master
              with:
                  node-version: '20'
            - name: Checkout Repo
              uses: actions/checkout@master
            - name: Install Dependencies
              uses: pnpm/action-setup@v4
              with:
                  run_install: |
                      args: [--frozen-lockfile, --strict-peer-dependencies]
                      cwd: ./backend
            - name: Lint
              run: pnpm lint
